<servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>web.HelloServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
</servlet-mapping>

<!-- Routeur du framework pour toutes les autres URLs -->
<servlet>
    <servlet-name>router</servlet-name>
    <servlet-class>core.RouterServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>router</servlet-name>
    <url-pattern>/*</url-pattern>
</servlet-mapping>
